In [19]:
import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)
conn = sqlite3.connect('contatos2.db')
cursor = conn.cursor()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS Contatos (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               nome TEXT,
               email TEXT UNIQUE,
               telefone TEXT
               )
''')

# Dados de exemplo
dados_exemplo = [
    ('João', 'joao@gmail.com', '(47)98484-5567'),
    ('Maria', 'maria@gmail.com', '(47)98893-5883'),
    ('Carlos', 'carlos@hotmail.com', '(48)98497-7821')
]

# Inserir dados apenas se o email ainda não estiver na tabela
for dado in dados_exemplo:
    try:
        cursor.execute('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dado)
    except sqlite3.IntegrityError:
        print(f'O contato com o email {dado[1]} já existe e não foi inserido.')

conn.commit()

# Exibir contatos antes da remoção de duplicatas
print("Contatos antes da remoção de duplicatas:")
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
for contato in contatos:
    print(contato)

# Exibir contatos após remoção de duplicatas
print("\nContatos após remoção de duplicatas:")
cursor.execute('SELECT * FROM Contatos')
contatos_unicos = cursor.fetchall()  # Obter contatos da nova tabela
for contato in contatos_unicos:
    print(contato)

conn.commit()

# UPDATE (Atualização do número de telefone do contato com ID 2)
novo_telefone = '(47)98486-8701'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()

# DELETE (Exclusão do contato com ID 1)
contato_id_para_excluir = 1
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()

# Fechando a conexão
conn.close()

O contato com o email joao@gmail.com já existe e não foi inserido.
O contato com o email maria@gmail.com já existe e não foi inserido.
O contato com o email carlos@hotmail.com já existe e não foi inserido.
Contatos antes da remoção de duplicatas:
(2, 'Maria', 'maria@gmail.com', '(47)98486-8701')
(3, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')
(4, 'João', 'joao@gmail.com', '(47)98484-5567')

Contatos após remoção de duplicatas:
(2, 'Maria', 'maria@gmail.com', '(47)98486-8701')
(3, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')
(4, 'João', 'joao@gmail.com', '(47)98484-5567')