In [9]:
import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS Contatos (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               nome TEXT,
               email TEXT,
               telefone TEXT
               )
''')
dados_exemplo = [
    ('João', 'joao@gmail.com', '(47)98484-5567'),
    ('Maria', 'maria@gmail.com', '(47)98893-5883'),
    ('Carlos', 'carlos@hotmail.com', '(48)98497-7821')
]

cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

# READ (Leitura e exibição dos contatos)
print("Contattos antes da remoção de duplicatas:")
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
for contato in contatos:
    print(contato)

# Deletar a tabela original
cursor.execute('DROP TABLE Contatos')

# Renomear a tabela única
cursor.execute('ALTER TABLE Contatos_Unique RENAME TO cONTATOS')

# Exibir contatos após remoção de duplicatas
print("\nContatos após remoção de duplicatas:")
cursor.execute9('SELECT * FROM Contatos')
for contato in contatos:
    print(contato)

conn.commit()
conn.close()
#UPDATE (Atualização do número de telefone do contato com ID 2)
novo_telefone = '(47)98486-8701'
contato_id = 2
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()

# DELETE (Exclusão do contato com ID 1)
contato_id_para_excluir = 1

cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()

# Fechando a conexão
conn.close()

Contatos:
(2, 'Maria', 'maria@gmail.com', '(47)98486-8701')
(3, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')
(4, 'João', 'joao@gmail.com', '(47)98484-5567')
(5, 'Maria', 'maria@gmail.com', '(47)98893-5883')
(6, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')
(7, 'João', 'joao@gmail.com', '(47)98484-5567')
(8, 'Maria', 'maria@gmail.com', '(47)98893-5883')
(9, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')
(10, 'João', 'joao@gmail.com', '(47)98484-5567')
(11, 'Maria', 'maria@gmail.com', '(47)98893-5883')
(12, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')
(13, 'João', 'joao@gmail.com', '(47)98484-5567')
(14, 'Maria', 'maria@gmail.com', '(47)98893-5883')
(15, 'Carlos', 'carlos@hotmail.com', '(48)98497-7821')