In [1]:
# Suponha que estamos desenvolvendo um programa de gerenciaremos informações de funcionários em uma tabela de um banco de dados SQLite.

import sqlite3
import pandas as pd

# Passo 1: Conectar ao banco de dados SQLite (ou criá-lo se não existir)
conn = sqlite3.connect("funcionarios.db")

In [2]:
# Passo 2: Criar a tabela de funcionários

cursor = conn.cursor()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS funcionarios (
                    id INTEGER PRIMARY KEY,
               nome TEXT,
               cargo TEXT,
               salario REAL
               )
''')

In [19]:
# Passo 3: Inserir um novo funcinário na tabela( QUANTAS VEZES QUISER COM UM id DIFERENTE)

novo_funcionario = (1, "João", "Técnico de Inspeção", 3500.00)
cursor.execute("INSERT INTO funcionarios VALUES (?, ?, ?, ?)", novo_funcionario)
conn.commit()

In [26]:
# Passo 4: Consultar e exibir funcionários
cursor.execute("Select * FROM funcionarios")
funcionarios = cursor.fetchall()
print("Funcionários Cadastrados:")
for funcionario in funcionarios:
    print(funcionario)

Funcionários Cadastrados:
(1, 'João A. Da Silva ', 'Técnico de Inspeção', 3500.0)

In [23]:
# Passo 5: Atualizar informações de um funcionário
atualizacao = ("Alisson A. Dos Santos", 3500.00, 2)
cursor.execute("UPDATE funcionarios SET nome = ?, salario = ? WHERE id = ?", atualizacao)
conn.commit()

In [25]:
# Passo 6: Deletar um funcionário da tabela ( O NUMERAL "2" SERIA O id ESCOLHIDO PARA REMOVER)
id_funcionario_para_deletar = 2
cursor.execute("DELETE FROM funcionarios WHERE id = ?", (id_funcionario_para_deletar,))
conn.commit()

In [ ]:
dados = salario
df = pd.DataFrame()
df.plot(x='Produto', y='quantidade_vendida', kind='bar')


cursor.execute("Select * FROM funcionarios")
funcionarios = cursor.fetchall()
print("Funcionários Cadastrados:")
for funcionario in funcionarios:
    print(funcionario)