In [2]:
import pandas as pd

url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [3]:
df_bancos = dfs[0]

In [4]:
print(df_bancos.shape)

(10, 7)

In [5]:
print(df_bancos.dtypes)

Bank Name               object
City                    object
State                   object
Cert                     int64
Aquiring Institution    object
Closing Date            object
Fund  Sort ascending     int64
dtype: object

In [6]:
df_bancos.head()

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540